* {
	font-size: 1em;
	color: #2243cc;
}
.logo{
	display: inline-block;
	float: left;
}
.menu{
	display: inline;
	list-style: none;
	float: left;
}
li {
	display: inline;
	color: #000;
}
h1 {
	font-size: 2em;
	color:	#277A0A;
}
section{
	clear: both;
	width: 80%
	padding-top: 20px;
	padding-bottom: 40px;
}
.entete{
	clear: both;
	font-size: 2em;
	text-align: center;
	text-shadow: 2px 2px green;
	width: 80%;
	padding-top: 20px;
	padding-bottom: 40px;
	margin: auto;
	height: auto;
	display: block;
	box-shadow: 6px 9px 2px blue;
	border-radius: 5px;
	background-color: #7ACC6A;
}
#MN{
	color: #FFF;

	margin: auto;
	text-o
}
#imp {
	text-align: center;
	color: black;
	border: 2px red solid;
	background-color: #FF3300;
	font-family: Comic Sans MS,arial ;
}
div{
	border: 1px blue solid;
	margin-top: auto;
	background-color: #CCCCB2;
}

a{
	color: black;
}
/* pseudo format hover, active, */
a:hover{
	color: white;
	text-decoration: none;
}
a:active{

}
a:focus {
	background-color: #FFCC66:
}
a:visited{
	color: #AAA;
}
